body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url('images/city.png') no-repeat center center fixed;
  background-size: cover;
  margin: 0;
}

#game-container {
  text-align: center;
  background-color: black;
  color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#hint {
  font-size: 1.2em;
  margin-bottom: 20px;
}

#guess-input {
  width: 80%;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 1em;
}

#submit-button, #start-button {
  padding: 10px 20px;
  font-size: 1em;
  margin-top: 10px;
  cursor: pointer;
  background-color: green;
  color: white;
  border-radius: 5px;
}

#timer {
  font-size: 1.2em;
  margin-top: 20px;
}

#result {
  font-size: 1.2em;
  margin-top: 20px;
  font-weight: bold;
}
/* Media queries for responsiveness */

/* For tablets and smaller desktops */
@media screen and (max-width: 1024px) {
  body {
      background-size: cover;
  }
}

/* For smaller devices like smartphones */
@media screen and (max-width: 768px) {
  h1 {
      font-size: 2em;
  }

  p {
      font-size: 1em;
  }
}